h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

* {
  box-sizing: border-box;
}