
.products {
  background-color: transparent;
  padding: 0;
  margin-bottom: -100px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  font-family: var(--first-font);
  margin: 0 auto;
  text-align: center;
  color: var(--basic-lending);
  margin-bottom: 50px;
}

.swiper {
  width: 100%;
  max-width: 1280px;
  height: auto;
  padding-bottom: 50px;
}

.products-item {
  width: 311px !important;
  height: 590px !important;
  background-color: var(--purple);
  border-radius: 5px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: center;
  justify-content: space-between;
  padding: 30px 15px;
  box-sizing: border-box;
}

.products-item:active {
  background: var(--light-purple);
}

.products-name {
  font-weight: 700;
  font-size: 24px;
  font-family: var(--first-font);
  text-align: center;
  color: var(--white);
  margin: -15px auto 15px auto;
}

.products-img {
  width: 281px;
  height: 317px;
  object-fit: cover;
}

.price-box {
  text-align: center;
  margin: 15px 0 15px 0;
  font: 400;
}

.old-price {
  display: block;
  text-decoration: line-through;
  color: var(--basic-lending);
  font-size: 18px;
  margin: 0 auto;
  font-family: var(--first-font);
  text-align: center;
  color: var(--black);
}

.new-price {

  color: var(--white);
  font-size: 24px;
  font-family: var(--first-font);
  margin: 0 auto;
  text-align: center;
  color: var(--yellow);
}

.products-button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  flex-shrink: 0;
  border: none;
  border-radius: 15px;
  width: 278px;
  height: 55px;
  background: var(--white);
  color: var(--basic-lending);
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 4px 4px 10px 0 var(--basic-lending);
  transition: all 0.2s ease;
  margin: 0 auto;
}

.products-button:hover {
  box-shadow: 4px 4px 15px 0 var(--basic-lending);
  background: var(--light-yellow);
}

.products-button:active {
  box-shadow: 1px 1px 5px 0 var(--purple) inset;
  background: var(--blue);
  color: var(--white);
}

.products-pagination, 
.gallery-pagination {
  bottom: 0 !important;
  position: relative !important;
  margin-top: 30px;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: var(--white) !important;
  opacity: 1 !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--yellow) !important;
  width: 12px !important; 
  height: 12px !important;
}
