:root {
  --basic-lending: #36014a;
  --medium-purple: #6b0092;
  --purple: #9501ca;
  --light-purple: #c241a8;
  --white: #fff;
  --blue: #3a34fb;
  --light-gray: #fefefe;
  --light-yellow: #fef8eb;
  --yellow: #fbf834;
  --black: #000;
  --second-font: "Inter", sans-serif;
  --first-font: "Kadwa", sans-serif;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: var(--white);
  font-family: var(--first-font);
  font-size: 18px;
  color: var(--basic-lending);
  margin: 0;
  padding: 0;
}

.products {
  background-color: transparent;
  position: relative;
  z-index: 20;
  padding: 0;
  margin-bottom: -80px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  font-family: var(--first-font);
  margin: 0 auto;
  text-align: center;
  color: var(--basic-lending);
  margin-bottom: 50px;
}

.products-swiper {
  width: 100%;
  height: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.products-swiper-wrapper {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.products-swiper-wrapper::-webkit-scrollbar {
  display: none;
}


.products-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.products-item:active {
  background: var(--light-purple);
}

.products-list {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  list-style: none;
  margin: 0;
}

.products-item {
  /* ДЕСКТОП: 4 блоки в ряд */
  flex: 0 0 calc((100% - 60px) / 4);
  background-color: var(--purple);
  border-radius: 20px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: center;
}


.products-name {
  font-weight: 700;
  font-size: 24px;
  font-family: var(--first-font);
  text-align: center;
  color: var(--white);
  margin: 0 auto;
}

.price-box {
  margin: 0 0 30px 0;
  font: 400;
}

.old-price {
  text-decoration: line-through;
  color: var(--basic-lending);
  font-size: 18px;
  margin: 0 auto;
  font-family: var(--first-font);
  text-align: center;
  color: var(--black);
}

.new-price {
  color: var(--white);
  font-size: 24px;
  font-family: var(--first-font);
  margin: 0 auto;
  text-align: center;
  color: var(--yellow);
}

.products-button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  flex-shrink: 0;
  border: none;
  border-radius: 15px;
  width: 278px;
  height: 55px;
  background: var(--white);
  color: var(--basic-lending);
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 4px 4px 10px 0 var(--basic-lending);
  transition: all 0.2s ease;
}

.products-button:hover {
  box-shadow: 4px 4px 15px 0 var(--basic-lending);
  background: var(--light-yellow);
}

.products-button:active {
  box-shadow: 1px 1px 5px 0 #36014a inset;
  background: var(--blue);
  color: var(--white);
}


.product-swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  position: absolute;
  bottom: -40px;
  /* Позиція на темно-фіолетовому фоні */
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
}

.product-dot {
  width: 12px;
  height: 12px;
  background: var(--light-gray);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.product-dot.active {
  background-color: var(--purple);
  transform: scale(1.2);
}