    :root {
      --basic-lending: #36014a;
      --medium-purple: #6b0092;
      --purple: #9501ca;
      --light-purple: #c241a8;
      --white: #fff;
      --blue: #3a34fb;
      --light-gray: #fefefe;
      --light-yellow: #fef8eb;
      --yellow: #fbf834;
      --black: #000;
      --second-font: "Inter", sans-serif;
      --first-font: "Kadwa", sans-serif;
    }

    html,
    body {
      position: relative;
      height: 100%;
      background-color: var(--white);
    }

    body {
      background: var(--white);
      font-family: var(--first-font);
      font-size: 18px;
      color: var(--basic-lending);
      margin: 0;
      padding: 0;
    }


    .products {
      background-color: transparent;
      padding: 60px 0;
      margin-bottom: -80px;
    }

    .title {
      font-weight: 700;
      font-size: 36px;
      font-family: var(--first-font);
      margin: 0 auto;
      text-align: center;
      color: var(--basic-lending);
      margin-bottom: 50px;
    }

    .swiper {
      width: 100%;
      max-width: 1360px;
      /* 4 слайди по 311px + проміжки */
      height: auto;
      padding-bottom: 50px;
    }

    .products-item {
      /* ДЕСКТОП: 4 блоки в ряд */
      width: 311px !important;
      height: 590px !important;
      background-color: var(--purple);
      border-radius: 5px;
      padding: 30px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      scroll-snap-align: center;
      justify-content: space-between;
      padding: 30px 15px;
      box-sizing: border-box;
    }

    .products-item:active {
      background: var(--light-purple);
    }

    .products-name {
      font-weight: 700;
      font-size: 24px;
      font-family: var(--first-font);
      text-align: center;
      color: var(--white);
      margin: 0 auto 15px auto;
    }

    .products-img {
      width: 281px;
      height: 317px;
      object-fit: cover;
      border-radius: 2px;
    }


    .price-box {
      text-align: center;
      margin: 0 0 30px 0;
      font: 400;
    }

    .old-price {
      display: block;
      text-decoration: line-through;
      color: var(--basic-lending);
      font-size: 18px;
      margin: 0 auto;
      font-family: var(--first-font);
      text-align: center;
      color: var(--black);
    }

    .new-price {

      color: var(--white);
      font-size: 24px;
      font-family: var(--first-font);
      margin: 0 auto;
      text-align: center;
      color: var(--yellow);
    }

    .products-button {
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      flex-shrink: 0;
      border: none;
      border-radius: 15px;
      width: 278px;
      height: 55px;
      background: var(--white);
      color: var(--basic-lending);
      font-weight: 700;
      font-size: 18px;
      cursor: pointer;
      box-shadow: 4px 4px 10px 0 var(--basic-lending);
      transition: all 0.2s ease;
    }

    .products-button:hover {
      box-shadow: 4px 4px 15px 0 var(--basic-lending);
      background: var(--light-yellow);
    }

    .products-button:active {
      box-shadow: 1px 1px 5px 0 #36014a inset;
      background: var(--blue);
      color: var(--white);
    }

    /* Колір крапок пагінації */
    .swiper-pagination-bullet {
      background: #fff !important;
      opacity: 0.5;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
    }

    /* Секція Галереї */
.gallery {
  background-color: #2b033d; /* Темно-фіолетовий фон як на скріншоті */
  padding: 60px 0;
  color: #ffffff;
}

.gallery-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
  font-family: sans-serif;
}

/* Налаштування Swiper */
.gallerySwiper {
  width: 100%;
  padding-bottom: 50px; /* Місце для точок пагінації */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 4px; /* Легке закруглення кутів */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover; 
  transition: transform 0.3s ease;
}


.swiper-slide:hover img {
  transform: scale(1.05);
}

/* Колір пагінації */
.galery-swiper-pagination-bullet {
  background: #ffffff !important;
  opacity: 0.6;
}

.galery-swiper-pagination-bullet-active {
  background: #ffffff !important;
  opacity: 1;
}